In [24]:
    import requests # to download html code
    from bs4 import BeautifulSoup # to navigate through the html code
    import pandas as pd
    import numpy as np

In [25]:
def scrape_hot100() ->pd.DataFrame:
    '''
    This functions create the DataFrame of artist and titles from Top song 100.
    
    Output: pd.DataFrame
    '''
    url = "https://www.billboard.com/charts/hot-100"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    artists = [artist.text.strip() for artist in soup.select('span.c-label.a-no-trucate')]
    titles = [title.text.strip() for title in soup.select('h3.a-no-trucate.c-title')]
    
    data = {
    'Artist': artists,
    'Title': titles,}
    df = pd.DataFrame(data)
    
    return df

In [26]:
hot100 = scrape_hot100()

In [27]:
hot100.to_csv('hot100.csv', index=False)

In [28]:
hot100

                           Artist            Title
0                  Olivia Rodrigo          Vampire
1                   Morgan Wallen       Last Night
2                      Luke Combs         Fast Car
3             Rema & Selena Gomez        Calm Down
4                     Miley Cyrus          Flowers
..                            ...              ...
95                  Morgan Wallen  Ain't That Some
96      Peso Pluma & Jasiel Nunez          Lagunas
97                     Noah Kahan       Dial Drunk
98  Jelly Roll With Lainey Wilson          Save Me
99                    Miley Cyrus            Jaded

[100 rows x 2 columns]